*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-bg-default;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: $color-base-text;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p, 
h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}